<div class="book-line">
  <div class="shot-view">
    <div class="cover" (click)="changeView()">
      <img [src]="book.bookCoverURL">
    </div>
    <div class="main-description">
      <div class="book-name">
        {{book.bookName}}
      </div>
      <div class="book-genre">
        Жанр: {{book.bookGenre}}
      </div>
      <div class="likes">
        <i class="material-icons">favorite</i>{{book.bookLikesCount}}
      </div>
    </div>
  </div>
  
  <div *ngIf="isFull" class="full-description">
    <div class="brief-description">
      {{book.bookBriefDescription}}
    </div>
    <div class="shops">
      <div *ngFor="let id of book.bookShopList">
        <a [href]="getShop(id).URL" target="_blank">{{getShop(id).name}}</a>
      </div>
    </div>
</div>
</div>
