.modal{
    // position: fixed;
    // top:0;
    // right: 0;

    background: rgba(0,0,0,0.5);
    z-index:2000;
    // opacity: 0;
    transition: opacity 200ms ease-in;
    // pointer-events:none;
    margin: 0;
    padding: 40px 0; 
}
.modal-content{
    width: 80%;
    //max-width: 700px;
    margin:0 auto;
    background-color: aliceblue;
}

.cover-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    height: 400px;
    margin:0 auto;
    overflow: auto; 
    .cover{
        // flex: 0 1 calc(33.33% - 30px);
        // flex: 1;
        margin: 5px;
        min-width: 220px;
        height: 250px;
        background-color: azure;
        text-align: center;
        padding: 5px 0;
        img{
            // width: auto;
            // width: 200px;
            height: 100%;  
        }
    }

}