<div class="edit-book-form">
  <form #editBookForm="ngForm" (ngSubmit)=changeBook() class="book-form">
    <figure>
        <img src="/assets/images/no-cover.jpg">
    </figure>
    <div class="form-group">
      <label for="name">Название книги</label>
      <input type="text" name="name" ngModel required>
    </div>
    <div class="form-group">
        <label for="">Жанр</label>
        <input type="text" name="genre" ngModel required>
      </div>
    <div class="form-group">
      <label for="briefDescription">Краткое описание</label>
      <textarea name="briefDescription" ngModel required></textarea>
    </div>
    <div class="shops">
      <div class="added">
        <div *ngFor="let id of shopIds" class="shop-item">
          <span>{{getShop(id).name}}</span>
          <input type="submit" (click)="delShop(getShop(id).id)" value="delete">
        </div>
      </div>
      <div class="not-added">
        <div *ngFor="let id of notAddedShopsIds" class="shop-item">
          <span>{{getShop(id).name}}</span>
          <input type="submit" (click)="addShop(getShop(id).id)" value="add">
        </div>
      </div>
    </div>
    <input type="submit" value="OK" [disabled]="!editBookForm.valid">
    <!-- <input type="submit" value="close" (click)="close()"> -->
 </form>
</div>

    <!-- <select name="shopId" [(ngModel)]="shopId"> -->
      <!-- <option disabled>Выберите магазин</option> -->
      <!-- <option *ngFor="let id of notAddedShopsIds" [ngValue]="getShop(id).id">{{getShop(id).name}}</option> -->
    <!-- </select> -->