.seach-component{
    text-align: center;
    padding: 10px 0;
   
    .search-container{
        line-height: 25px;
        .search-input{
            width: 250px;
            margin-right: 15px;
    
        }
        .search-icon{
            padding-top: -10px;
     
        }
    }


}